<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head('Songs')"></head>


<body>

    <header th:replace="fragments :: header"></header>

    <main>

        <h1 class="text-center py-3">Songs</h1>

        <div th:each="song : ${songs}" class="row d-flex justify-content-center">
            <div class="col-6">
                <a th:href="@{'/songs/' + ${song.getId()}}" class="text-decoration-none text-black">
                    <div th:text="${song.getTitle()}" class="py-2 text-center border">
                    </div>
                </a>
            </div>
        </div>
    </main>

</body>

</html>